*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.player-one {
  min-height: 50vh;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-two{
  min-height: 50vh;
  background: springgreen;
  align-items: center;
  display: flex;
  justify-content: center;
}
.player-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-name{
  font-size: 3em;
  color: #313131
}
.st-player-point , .nd-player-point{
  font-size: 4em;
  color: #313131
}